---
import ExternalLink from "../../shared/ExternalLink.astro";
---

<section>
  <h2 class="text-2xl text-gray-600 pb-8">Certificates</h2>
  <li>
    <ExternalLink
      href="https://credsverse.com/credentials/b211c75b-ae57-428c-8b5c-53ef0cda0028"
    >
      AI Devs 2 - Connect GPT-4 with application and automation logic
    </ExternalLink>
  </li>
  <li>
    <ExternalLink href="https://certificates.typeofweb.com/4317e23913.pdf">
      Modern Frontend - Next.js, React, GraphQL and TypeScript
    </ExternalLink>
  </li>
</section>
