---
import ExternalLink from "../../shared/ExternalLink.astro";
---

<section>
  <h2>Certificates</h2>
  <ul>
    <li>
      <ExternalLink
        href="https://learn.microsoft.com/en-us/users/marcinparda-4951/transcript/dr5qkspz1zz5wwe"
      >
        Microsoft Certified: Azure AI Fundamentals
      </ExternalLink>
    </li>
    <li>
      <ExternalLink
        href="https://learn.microsoft.com/en-us/users/marcinparda-4951/transcript/dr5qkspz1zz5wwe"
      >
        Microsoft Certified: Azure Fundamentals
      </ExternalLink>
    </li>
    <li>
      <ExternalLink
        href="https://credsverse.com/credentials/db5b4dbe-dfc9-4d5c-8ac2-5603bc8111de"
      >
        AI Devs 3 - AI integration and building agents
      </ExternalLink>
    </li>
    <li>
      <ExternalLink
        href="https://credsverse.com/credentials/b211c75b-ae57-428c-8b5c-53ef0cda0028"
      >
        AI Devs 2 - Connect GPT-4 with application and automation logic
      </ExternalLink>
    </li>
    <li>
      <ExternalLink
        href="https://www.udemy.com/certificate/UC-193cea79-54ad-48e6-bb21-40718b7f9cae/"
      >
        FastAPI masterclass from scratch
      </ExternalLink>
    </li>
    <li>Architecture on Frontend (Architektura na Froncie)</li>
    <li>
      <ExternalLink href="https://certificates.typeofweb.com/4317e23913.pdf">
        Modern Frontend - Next.js, React, GraphQL and TypeScript
      </ExternalLink>
    </li>
  </ul>
</section>
