<section>
  <div class="flex flex-col items-center">
    <img
      class="w-64 h-64 border-2 rounded-full border-yellow-200 mb-5"
      alt="Portrait of bald man on blurry forest background."
      src="face.png"
    />
    <header class="flex flex-col items-center">
      <h1 class="mb-2">Marcin Parda</h1>
      <h3 class="mt-0 text-gray-600">Senior Developer at EY GDS</h3>
    </header>
  </div>
  <p>
    Code mentor. IT meetings attender, lecturer. Programming blogger. Advent of
    Code & hackatons participant. On the way to becoming a fullstack.
  </p>
  <p>
    I am an optimistic minimalist who found happiness in learning new things. A
    relaxed and fun atmosphere is important to me when interacting with people.
    I enjoy confronting my thoughts with others. In my free time I play
    football, boardgames and develop AI powered apps.
  </p>
  <a href="/work">Go to my work experience</a>
</section>
