---
import { Image } from "astro:assets";
---

<section>
  <div class="flex flex-col items-center">
    <Image
      class="w-64 h-64 border-2 rounded-full border-yellow-200 mb-5"
      alt="Portrait of bald man on blurry forest background."
      src="/face.png"
      width={256}
      height={256}
      loading="eager"
      fetchpriority="high"
    />
    <header class="flex flex-col items-center">
      <h1 class="mb-2">Marcin Parda</h1>
      <h2 class="mt-0 text-gray-600">Senior Developer at EY GDS</h2>
    </header>
  </div>
  <p>
    Specialist with over 5 years of experience, including over 1.5 years as a
    senior developer. Acting as a code mentor and technical recruiter. Regular
    attendee and seasonal speaker at IT meetings and blogger. Active participant
    in events such as Advent of Code and hackathons.
  </p>
  <p>
    I am an optimistic minimalist who found happiness in learning new things. A
    relaxed and fun atmosphere is important to me when interacting with people.
    I enjoy confronting my thoughts with others. In my free time I play
    football, boardgames and develop AI powered apps.
  </p>
  <a href="/work">More about my work background</a>
</section>
