---
import ProjectItem from "../components/ProjectItem.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

export interface Project {
  name: string;
  description: string;
  liveUrl?: string;
  codeUrl: string;
}

const finishedProjects: Project[] = [
  {
    name: "My previous blog",
    description:
      "My previous digital garden. It was built with Next.js and was quite similar to this one.",
    liveUrl: "https://marcinparda.vercel.app/",
    codeUrl: "https://github.com/MarcinParda/marcinparda-blog",
  },
  {
    name: "parda.me",
    description:
      "Page that you are currently on. It's built with Astro and TailwindCSS.",
    codeUrl: "https://github.com/MarcinParda/parda.me",
  },
  {
    name: "Firebase superchat",
    description:
      "Chat where all the users can talk to each other. It's possible to login with Google account.",
    liveUrl: "https://superchat-cc2d4.web.app/",
    codeUrl: "https://github.com/MarcinParda/firebase-superchat",
  },
];

const wipProjects: Project[] = [
  {
    name: "IT flashcards",
    description:
      "Flashcards Anki-like app for IT people. It's powered with AI and built with Nx, Nest.js & Next.js.",
    codeUrl: "https://github.com/MarcinParda/it-flashcards",
  },
];
---

<BaseLayout pageTitle={"About me"}>
  <main>
    <section class="pb-12">
      <div class="flex flex-col items-center pb-10">
        <img
          class="w-64 h-64 border-2 rounded-full border-blue-200 mb-5"
          alt="Portrait of Marcin Parda on blurry forest background."
          src="face.png"
        />
        <header class="flex flex-col items-center">
          <h1 class="text-5xl font-bold pb-4">Marcin Parda</h1>
          <h2 class="text-2xl text-gray-600">
            Senior Frontend Developer at EY GDS
          </h2>
        </header>
      </div>
      <p class="pb-3 text-justify">
        Code mentor. IT meetings attender, lecturer. Programming blogger. Advent
        of Code & hackatons participant. On the way to becoming a fullstack.
      </p>
      <p class="text-justify">
        I am an optimistic minimalist who found happiness in learning new
        things. A relaxed and fun atmosphere is important to me when interacting
        with people. I enjoy confronting my thoughts with others. In my free
        time I play football, boardgames and develop AI powered apps.
      </p>
    </section>
    <section class="pb-8">
      <div class="flex flex-col gap-8 lg:flex-row">
        <div class="lg:w-1/2">
          <h2 class="text-2xl text-gray-600 pb-4">My finished projects</h2>
          <ul>
            {
              finishedProjects.map((project) => (
                <ProjectItem project={project} />
              ))
            }
          </ul>
        </div>
        <div class="lg:w-1/2">
          <h2 class="text-2xl text-gray-600 pb-4">My WIP projects</h2>
          <ul>
            {wipProjects.map((project) => <ProjectItem project={project} />)}
          </ul>
        </div>
      </div>
    </section>
    <section>
      <h2 class="text-2xl text-gray-600">My recent posts</h2>
    </section>
  </main>
</BaseLayout>
