---
import BaseLayout from "../layouts/BaseLayout.astro";
import AboutIntroductionSection from "../components/about/AboutIntroductionSection.astro";
import AboutProjectsSection from "../components/about/AboutProjectSection/AboutProjectsSection.astro";
import AboutRecentPostSection from "../components/about/AboutRecentPostSection.astro";
---

<BaseLayout pageTitle="About me">
  <main class="flex flex-col">
    <AboutIntroductionSection />
    <AboutProjectsSection />
    <AboutRecentPostSection />
  </main>
</BaseLayout>
