---
// blog page inspired by paco.me writing page
import { getMonthAndDay } from "../utils/date";
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await getCollection("posts");
type Post = (typeof allPosts)[0];

const postsByYear = allPosts.reduce(
  (groupedPosts, post) => {
    const year = new Date(post.data.pubDate).getFullYear();
    if (!groupedPosts[year]) groupedPosts[year] = [];
    groupedPosts[year]!.push(post);
    return groupedPosts;
  },
  {} as Record<number, Post[]>,
);
---

<BaseLayout pageTitle="Blog">
  <h1>Blogposts</h1>
  <hr class="mb-0" /> 
  {
    postsByYear &&
      Object.keys(postsByYear)
        .reverse()
        .map((year) => (
          <div class="grid grid-flow-col grid-cols-4 border-b">
            <span class="font-bold py-2">{year}</span>
            <div class="col-span-3">
              {postsByYear[Number(year)]!.map((post) => (
                <hr class="m-0 first:hidden" />
                <a
                  href={`/blog/${post.slug}/`}
                  class="not-prose flex justify-between gap-4 py-2 opacity-50 hover:opacity-100 transition-all"
                >
                  <span>{post.data.title}</span>
                  <span>{getMonthAndDay(post.data.pubDate)}</span>
                </a>
              ))}
            </div>
          </div>
        ))
  }
</BaseLayout>
