---
// News page inspired by paco.me writing page
import { getMonthAndDay } from "../utils/date";
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
const allNewsletters = await getCollection("newsletters");

const newslettersSortedByDate = allNewsletters.sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);

const newslettersByYear = newslettersSortedByDate.reduce(
  (groupednewss, newsletter) => {
    const year = new Date(newsletter.data.pubDate).getFullYear();
    if (!groupednewss[year]) groupednewss[year] = [];
    groupednewss[year]!.push(newsletter);
    return groupednewss;
  },
  {} as Record<number, CollectionEntry<"newsletters">[]>
);
---

<BaseLayout pageTitle="News">
  <h1>News</h1>
  <a href="/news.xml">News RSS</a>
  <hr class="mb-0" />
  {
    newslettersByYear &&
      Object.keys(newslettersByYear)
        .reverse()
        .map((year) => (
          <div class="grid grid-flow-col grid-cols-4 border-b">
            <span class="font-bold py-2">{year}</span>
            <div class="col-span-3">
              {newslettersByYear[Number(year)]!.map((newsletter) => (
                <div>
                  <hr class="m-0 first:hidden" />
                  <a
                    href={`/newsletters/${newsletter.id}/`}
                    class="not-prose flex justify-between gap-4 py-2 opacity-75 hover:opacity-100 transition-all"
                  >
                    <span>{newsletter.data.title}</span>
                    <span>{getMonthAndDay(newsletter.data.pubDate)}</span>
                  </a>
                </div>
              ))}
            </div>
          </div>
        ))
  }
</BaseLayout>
