---
// News page inspired by paco.me writing page
import { getMonthAndDay } from "../utils/date";
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
const allNews = await getCollection("news");
type News = (typeof allNews)[0];

const newsSortedByDate = allNews.sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);

const newsByYear = newsSortedByDate.reduce(
  (groupednewss, news) => {
    const year = new Date(news.data.pubDate).getFullYear();
    if (!groupednewss[year]) groupednewss[year] = [];
    groupednewss[year]!.push(news);
    return groupednewss;
  },
  {} as Record<number, News[]>,
);
---

<BaseLayout pageTitle="News">
  <h1>News</h1>
  <hr class="mb-0" />
  {
    newsByYear &&
      Object.keys(newsByYear)
        .reverse()
        .map((year) => (
          <div class="grid grid-flow-col grid-cols-4 border-b">
            <span class="font-bold py-2">{year}</span>
            <div class="col-span-3">
              {newsByYear[Number(year)]!.map((news) => (
                <div>
                  <hr class="m-0 first:hidden" />
                  <a
                    href={`/news/${news.slug}/`}
                    class="not-prose flex justify-between gap-4 py-2 opacity-50 hover:opacity-100 transition-all"
                  >
                    <span>{news.data.title}</span>
                    <span>{getMonthAndDay(news.data.pubDate)}</span>
                  </a>
                </div>
              ))}
            </div>
          </div>
        ))
  }
</BaseLayout>
