---
import WorkCertificatesSection from "../components/work/WorkCertificatesSection/WorkCertificatesSection.astro";
import WorkDescriptionSection from "../components/work/WorkDescriptionSection.astro";
import WorkRecommendationsSection from "../components/work/WorkRecommendationsSection/WorkRecommendationsSection.astro";
import WorkStackSection from "../components/work/WorkStackSection.astro";

import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Work">
  <main class="flex flex-col gap-12">
    <WorkDescriptionSection />
    <WorkStackSection />
    <WorkCertificatesSection />
    <WorkRecommendationsSection />
  </main>
</BaseLayout>
