---
import WorkRecommendationsSection from "../components/work/WorkRecommendationsSection.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <main>
    <WorkRecommendationsSection />
  </main>
</BaseLayout>
