---
const { href, text } = Astro.props;
const pathname = new URL(Astro.request.url).pathname;
const isCurrent = pathname.startsWith(href);
---

<div class="relative py-2 px-4">
  <a
    href={href}
    class={`font-bold ${
      isCurrent ? "text-gray-900" : "text-gray-600"
    } hover:text-gray-900`}
    transition:animate="none"
  >
    <span class="text-2xl" transition:animate="none">{text}</span>
  </a>

  {
    isCurrent && (
      <div
        class="bg-slate-200 w-full h-full -z-10 absolute left-0 bottom-0 rounded-md"
        transition:name="hover"
      />
    )
  }
</div>
