---
import NavigationLink from "./NavigationLink.astro";
const links = [
  { href: "/about", text: "About" },
  { href: "/work", text: "Work" },
  { href: "/blog", text: "Blog" },
];
---

<nav class="inline-flex md:flex-col md:pr-12 gap-3 pb-8 md:pb-0 font-comfortaa">
  {links.map((link) => <NavigationLink href={link.href} text={link.text} />)}
</nav>
