---
import Link from "./Link.astro";
const { project } = Astro.props;
---

<li class="pb-6">
  <div class="flex items-center gap-2 pb-2">
    <Link href={project.liveUrl} rel="noopener noreferrer" target="_blank">
      {project.name}
    </Link>
    <Link href={project.codeUrl} rel="noopener noreferrer" target="_blank">
      <img src="public/github.svg" alt="Github logo" />
    </Link>
  </div>
  <p class="text-gray-600 text-justify">
    {project.description}
  </p>
</li>
