---
import "@fontsource-variable/raleway";
import "@fontsource-variable/comfortaa";
import { ViewTransitions } from "astro:transitions";
import Navigation from "../components/shared/Navigation.astro";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body class="overflow-y-scroll prose bg-slate-50 inline">
    <div class="min-h-screen flex flex-col justify-between">
      <div
        class="pt-10 px-8 mx-auto sm:max-w-2xl md:max-w-3xl lg:max-w-4xl xl:max-w-5xl"
      >
        <header class="text-5xl font-bold pb-12 hidden md:block font-comfortaa">
          parda.me
        </header>
        <div class="flex flex-col md:flex-row">
          <header class="text-4xl font-bold pb-8 md:hidden font-comfortaa">
            parda.me
          </header>
          <Navigation />
          <div>
            <slot />
          </div>
        </div>
      </div>
      <footer class="text-sm py-4 text-gray-400 text-center border-t">
        Made with love (and Astro 🚀)
      </footer>
    </div>
  </body>
</html>
