---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="grid">
    <p>{frontmatter.pubDate.toString().slice(4, 15)}</p>
    <h1>{frontmatter.title}</h1>
    <slot />
  </div>
</BaseLayout>
