---
import { FINISHED_PROJECTS, WIP_PROJECTS } from "./projects";
import AboutProjectItem from "./AboutProjectItem.astro";
---

<section>
  <div class="flex flex-col lg:flex-row">
    <div class="lg:w-1/2">
      <h2>My finished projects</h2>
      {
        FINISHED_PROJECTS.map((project) => (
          <AboutProjectItem project={project} />
        ))
      }
    </div>
    <div class="lg:w-1/2">
      <h2>My WIP projects</h2>
      {WIP_PROJECTS.map((project) => <AboutProjectItem project={project} />)}
    </div>
  </div>
</section>
