---
import { PROJECTS } from "./projects";
import AboutProjectItem from "./AboutProjectItem.astro";
---

<section>
  <div class="flex flex-col lg:gap-6">
    <div>
      <h2>What I am working on in my free time:</h2>
      {PROJECTS.map((project) => <AboutProjectItem project={project} />)}
    </div>
  </div>
</section>
