<section>
  <h2>My technology stack</h2>
  <p>My <b>main frontend stack:</b></p>
  <ul>
    <li><b>Typescript</b>/Javascript/Node.js</li>
    <li>
      <b>React.js 19</b> - RSC, Tanstack Query/Redux/Zustand, React testing
      library, React hook forms
    </li>
    <li>Vite - Vitest</li>
    <li>Nx - monorepos</li>
    <li>Tailwindcss</li>
    <li>React Testing Library</li>
  </ul>

  <p>My <b>main backend stack:</b></p>
  <ul>
    <li>FastAPI</li>
    <li>Python</li>
    <li>PostgreSQL</li>
    <li>SQLAlchemy</li>
    <li>REST</li>
  </ul>

  <p><b>I am working/worked also with:</b></p>
  <p>
    AI models, Next.js 14, Vue, Astro, Angular, Express.js, NestJS, Docker,
    Prisma, various CSS frameworks, GraphQL, Prisma, Jest, Playwright, MobX,
    TypeORM, Angular, Figma, Scrum, Jira, Github, Gitlab
  </p>
</section>
