<section>
  <h2>My technology stack</h2>
  <p>My <b>main frontend stack:</b></p>
  <ul>
    <li><b>Next.js 14</b> - API routes, App Router, NextAuth.js, Rendering</li>
    <li>
      <b>React.js 18</b> - RSC, Tanstack Query/Redux/Zustand, React testing
      library, React hook forms
    </li>
    <li><b>Typescript</b>/Javascript/Node.js</li>
    <li>Tailwindcss</li>
    <li>Nx - monorepos</li>
    <li>Cypress</li>
  </ul>

  <p>My <b>main backend stack:</b></p>
  <ul>
    <li>NestJS</li>
    <li>PostgreSQL</li>
    <li>Prisma</li>
    <li>REST</li>
  </ul>

  <p>I also worked with:</p>
  <p>
    GTP models, Astro, Svelte, SvelteKit, various CSS frameworks, GraphQL, Vite,
    Vitest, Jest, RxJS, Prisma, Playwright, MobX, Express.js, TypeORM, Angular,
    Docker, Figma, Scrum, Jira, Github, Gitlab
  </p>
</section>
