<section>
  <h2>My technology stack</h2>
  <p>My <b>main frontend stack:</b></p>
  <ul>
    <li>Next.js 14 - API routes, App Router, NextAuth.js, Rendering</li>
    <li>
      React.js 18 - RSC, Tanstack Query/Redux/Zustand, React testing library,
      React hook forms
    </li>
    <li>Typescript/Javascript/Node.js</li>
    <li>Tailwindcss</li>
    <li>Nx - monorepos</li>
    <li>Cypress</li>
  </ul>

  <p>My <b>main backend stack:</b></p>
  <ul>
    <li>NestJS</li>
    <li>PostgreSQL</li>
    <li>Prisma</li>
    <li>REST</li>
  </ul>

  <p>I also worked with:</p>
  <p>
    GTP models, Astro, Svelte, SvelteKit, various CSS frameworks, GraphQL, Vite,
    Vitest, Jest, Playwright, MobX, Express.js, TypeORM, Angular, Scrum, Jira,
    Github, Gitlab
  </p>
</section>
