<section>
  <h1>What I do as a developer?</h1>
  <div class="flex flex-col">
    <p>
      In my daily work, I focus on creating applications and websites for my
      clients. Throughout this process, <b
        >I place great emphasis on code quality, testing</b
      >, and ensuring that the code, both mine and my colleagues', meets
      business requirements. I refactor old code and create new code that is
      easy to maintain and extend. <b
        >I also make sure that website performance is at the highest possible
        level</b
      >.
    </p>
    <p>
      I participate in project <b
        >planning, document requirements and blockers, estimate tasks</b
      >, whether during scrum meetings or discussions with the client about the
      development of their project. I have also been involved in the process of <b
        >creating architecture for greenfield projects</b
      > and
      <b>participated in project workshops.</b>
    </p> 
    <p>
      <b>I was leading team developing internal applications.</b> Handled requirements gathering with managers, authored user stories,
      assigned tasks, set priorities for architecture and complex feature development, and facilitated a smooth project handover to
      management.
    </p>
    <p>
      I invest in learning, either for myself or others. <b
        >I present knowledge in company lightning talks, create newsletters</b
      > related to JavaScript, or simply assist other (less and more
      experienced) developers in their struggles with frontend topics. In my
      free time, I <b>write articles</b> and participate as a student in
      valuable online courses.
    </p>
    <p>
      If there is no time for refactoring in a project, I actively advocate for
      finding time for it if I believe it is beneficial for all parties involved
      (client-final consumer-developer).
    </p>
    <p>
      Additionally, I enjoy participating in programming and sports events such
      as hackathons and football tournaments organized by the companies I work
      for.
    </p>
    <div>
      <a class="text-xl" href="/cv.pdf">My CV</a>
    </div>
  </div>
</section>
